[submodule "ecos-mobile"]
	path = ecos-mobile
	url = https://github.com/bitchofson/ecos-mobile.git
[submodule "ecos-backend"]
	path = ecos-backend
	url = https://github.com/bitchofson/ecos-backend.git
